* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 15px;
}

h1 {
  size: 5px; 
  padding: 30px;
}

p {
  margin: 0;
}

/*Header ----- */

  /*Navbar ---*/
  .navbar {
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px; 
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  li:hover {
    box-shadow: inset 20px 20px 20px rgba(9, 121, 9, 0.749);
  }

/*Jumbotron ----- */
.jumbotron {
  background-image: url(../images/gradient-green.jpg);
  background-size:cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Sections  ------*/
.page-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /*about*/
  .avatar, #center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 40px;
}
  #about {
    margin-left: 10px;
    margin-right: 10px;
  }
  #aboutdescription {
    width: 60%;
    color: rgb(68, 66, 66);
    justify-content: center;
    padding-bottom: 30px;
  }

  /*work*/
  .card {
    margin-bottom: 40px;
    background-image: linear-gradient(
      rgba(89, 142, 65, 0.3) 80%,
      rgba(53, 118, 150, 0.6) 100%
    );
  }

  .card:hover {
    box-shadow: inset 0px 0px 10px rgba(6, 149, 6, 0.749), 0 0 10px rgba(37, 68, 118, 0.91);
  }
  
/*Footer*/
  /*contact*/
  #vbmessage {
    padding: 15px;
  }

  form {
    max-width: 70%;
    margin: 30px auto;
    padding: 45px;
    border: 1px solid #F2F2F2;
    -webkit-box-shadow: 0 1px 4px black;
    -moz-box-shadow: 0 1px 4px rgba (0,0,0,0.3);
    box-shadow: 0 1px 4px rgba (0,0,0,0.1), 0 0 40px rgba(0,0,0,0.1);
    background-image: linear-gradient(
      rgba(89, 142, 65, 0.3) 10%,
      rgba(53, 118, 150, 0.6) 100%
    );
  }

  #message {
    height: 200px;
  }

  .btn {
      margin-top: 10px;
      background:rgb(47, 47, 47);
  }